[submodule "apps/whenever"]
	path = apps/whenever
	url = git@github.com:javan/whenever.git
	branch = main
[submodule "apps/rufus-scheduler"]
	path = apps/rufus-scheduler
	url = git@github.com:jmettraux/rufus-scheduler.git
	branch = master
[submodule "apps/resque-scheduler"]
	path = apps/resque-scheduler
	url = git@github.com:resque/resque-scheduler.git
	branch = master
[submodule "apps/clockwork"]
	path = apps/clockwork
	url = git@github.com:Rykian/clockwork.git
	branch = master
[submodule "apps/foreman"]
	path = apps/foreman
	url = git@github.com:ddollar/foreman.git
	branch = main
[submodule "apps/resque"]
	path = apps/resque
	url = git@github.com:resque/resque.git
	branch = master
[submodule "apps/sidekiq"]
	path = apps/sidekiq
	url = git@github.com:sidekiq/sidekiq.git
	branch = main
[submodule "apps/rubocop"]
	path = apps/rubocop
	url = git@github.com:rubocop/rubocop.git
	branch = master
[submodule "apps/premailer"]
	path = apps/premailer
	url = git@github.com:premailer/premailer.git
	branch = master
[submodule "apps/roadie"]
	path = apps/roadie
	url = git@github.com:Mange/roadie.git
	branch = master
[submodule "apps/lolcat"]
	path = apps/lolcat
	url = git@github.com:busyloop/lolcat.git
	branch = master
[submodule "apps/homebrew"]
	path = apps/homebrew
	url = git@github.com:Homebrew/brew.git
	branch = master
[submodule "apps/jekyll"]
	path = apps/jekyll
	url = git@github.com:jekyll/jekyll.git
	branch = master
[submodule "apps/middleman"]
	path = apps/middleman
	url = git@github.com:middleman/middleman.git
	branch = main
[submodule "apps/pry"]
	path = apps/pry
	url = git@github.com:pry/pry.git
	branch = master
[submodule "apps/githug"]
	path = apps/githug
	url = git@github.com:Gazler/githug.git
	branch = master
[submodule "apps/dotenv"]
	path = apps/dotenv
	url = git@github.com:bkeepers/dotenv.git
	branch = main
[submodule "apps/ruco"]
	path = apps/ruco
	url = git@github.com:grosser/ruco.git
	branch = master
[submodule "apps/rake"]
	path = apps/rake
	url = git@github.com:ruby/rake.git
	branch = master
[submodule "apps/rdoc"]
	path = apps/rdoc
	url = git@github.com:ruby/rdoc.git
	branch = master
[submodule "apps/rouge"]
	path = apps/rouge
	url = git@github.com:rouge-ruby/rouge.git
	branch = master
[submodule "apps/coderay"]
	path = apps/coderay
	url = git@github.com:rubychan/coderay.git
	branch = master
[submodule "apps/markup"]
	path = apps/markup
	url = git@github.com:github/markup.git
	branch = master
[submodule "apps/kramdown"]
	path = apps/kramdown
	url = git@github.com:gettalong/kramdown.git
	branch = master
[submodule "apps/haml"]
	path = apps/haml
	url = git@github.com:haml/haml.git
	branch = main
[submodule "apps/reek"]
	path = apps/reek
	url = git@github.com:troessner/reek.git
	branch = master
[submodule "apps/capistrano"]
	path = apps/capistrano
	url = git@github.com:capistrano/capistrano.git
	branch = master
[submodule "apps/mina"]
	path = apps/mina
	url = git@github.com:mina-deploy/mina.git
	branch = master
[submodule "apps/vagrant"]
	path = apps/vagrant
	url = git@github.com:hashicorp/vagrant.git
	branch = main
[submodule "apps/puppet"]
	path = apps/puppet
	url = git@github.com:puppetlabs/puppet.git
	branch = main
[submodule "apps/thin"]
	path = apps/thin
	url = git@github.com:macournoyer/thin.git
	branch = master
[submodule "apps/unicorn"]
	path = apps/unicorn
	url = git@github.com:defunkt/unicorn.git
	branch = master
[submodule "apps/puma"]
	path = apps/puma
	url = git@github.com:puma/puma.git
	branch = master
[submodule "apps/chef"]
	path = apps/chef
	url = git@github.com:chef/chef.git
	branch = main
[submodule "apps/brakeman"]
	path = apps/brakeman
	url = git@github.com:presidentbeef/brakeman.git
	branch = main
[submodule "apps/geocoder"]
	path = apps/geocoder
	url = git@github.com:alexreisner/geocoder.git
	branch = master
[submodule "apps/tmuxinator"]
	path = apps/tmuxinator
	url = git@github.com:tmuxinator/tmuxinator.git
	branch = master
[submodule "apps/colorls"]
	path = apps/colorls
	url = git@github.com:athityakumar/colorls.git
	branch = main
[submodule "apps/image_optim"]
	path = apps/image_optim
	url = git@github.com:toy/image_optim.git
	branch = main
[submodule "apps/github-changelog-generator"]
	path = apps/github-changelog-generator
	url = git@github.com:github-changelog-generator/github-changelog-generator.git
	branch = master
[submodule "apps/ruby-warrior"]
	path = apps/ruby-warrior
	url = git@github.com:ryanb/ruby-warrior.git
	branch = master
[submodule "apps/optcarrot"]
	path = apps/optcarrot
	url = git@github.com:mame/optcarrot.git
	branch = master
[submodule "apps/procodile"]
	path = apps/procodile
	url = git@github.com:adamcooke/procodile.git
	branch = master
[submodule "apps/pru"]
	path = apps/pru
	url = git@github.com:grosser/pru.git
	branch = master
[submodule "apps/friends"]
	path = apps/friends
	url = git@github.com:JacobEvelyn/friends.git
	branch = main
[submodule "apps/whois"]
	path = apps/whois
	url = git@github.com:weppos/whois.git
	branch = main
[submodule "apps/htty"]
	path = apps/htty
	url = git@github.com:htty/htty.git
	branch = main
[submodule "apps/word-to-markdown"]
	path = apps/word-to-markdown
	url = git@github.com:benbalter/word-to-markdown.git
	branch = main
[submodule "apps/reverse_markdown"]
	path = apps/reverse_markdown
	url = git@github.com:xijo/reverse_markdown.git
	branch = master
[submodule "apps/beats"]
	path = apps/beats
	url = git@github.com:jstrait/beats.git
	branch = master
[submodule "apps/hue"]
	path = apps/hue
	url = git@github.com:soffes/hue.git
	branch = main
[submodule "apps/cowsay"]
	path = apps/cowsay
	url = git@github.com:johnnyt/cowsay.git
	branch = master
[submodule "apps/t"]
	path = apps/t
	url = git@github.com:sferik/t.git
	branch = master
[submodule "apps/CocoaPods"]
	path = apps/CocoaPods
	url = git@github.com:CocoaPods/CocoaPods.git
	branch = master
[submodule "apps/youplot"]
	path = apps/youplot
	url = git@github.com:red-data-tools/YouPlot.git
	branch = main
[submodule "apps/licensee"]
	path = apps/licensee
	url = git@github.com:licensee/licensee.git
	branch = main
[submodule "apps/rubygems"]
	path = apps/rubygems
	url = git@github.com:rubygems/rubygems.git
	branch = master
[submodule "apps/t-ruby"]
	path = apps/t-ruby
	url = git@github.com:sferik/t-ruby.git
	branch = master
[submodule "apps/docsplit"]
	path = apps/docsplit
	url = git@github.com:documentcloud/docsplit.git
	branch = master
[submodule "apps/haiti"]
	path = apps/haiti
	url = git@github.com:noraj/haiti.git
	branch = master
[submodule "apps/yard"]
	path = apps/yard
	url = git@github.com:lsegal/yard.git
	branch = main
[submodule "apps/rbtrace"]
	path = apps/rbtrace
	url = git@github.com:tmm1/rbtrace.git
	branch = master
[submodule "apps/linguist"]
	path = apps/linguist
	url = git@github.com:github-linguist/linguist.git
	branch = master
[submodule "apps/mdless"]
	path = apps/mdless
	url = git@github.com:ttscoff/mdless.git
	branch = develop
[submodule "apps/gist"]
	path = apps/gist
	url = git@github.com:defunkt/gist.git
	branch = master
[submodule "apps/LicenseFinder"]
	path = apps/LicenseFinder
	url = git@github.com:pivotal/LicenseFinder.git
	branch = master
[submodule "apps/ronn"]
	path = apps/ronn
	url = git@github.com:rtomayko/ronn.git
	branch = master
[submodule "apps/standard"]
	path = apps/standard
	url = git@github.com:standardrb/standard.git
	branch = main
[submodule "apps/asciidoctor"]
	path = apps/asciidoctor
	url = git@github.com:asciidoctor/asciidoctor.git
	branch = main
[submodule "apps/syntax_tree"]
	path = apps/syntax_tree
	url = git@github.com:ruby-syntax-tree/syntax_tree.git
	branch = main
[submodule "apps/bashly"]
	path = apps/bashly
	url = git@github.com:DannyBen/bashly.git
	branch = master
[submodule "apps/WhatWeb"]
	path = apps/WhatWeb
	url = git@github.com:urbanadventurer/WhatWeb.git
	branch = master
[submodule "apps/doomfire"]
	path = apps/doomfire
	url = git@github.com:marcinruszkiewicz/doomfire.git
	branch = master
[submodule "apps/fpm"]
	path = apps/fpm
	url = git@github.com:jordansissel/fpm.git
	branch = main
[submodule "apps/git-fame-rb"]
	path = apps/git-fame-rb
	url = git@github.com:oleander/git-fame-rb.git
	branch = main
[submodule "apps/textbringer"]
	path = apps/textbringer
	url = git@github.com:shugo/textbringer.git
	branch = main
